@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

html {
  background-color: color(white);
}

.o-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.u-lead {
  text-transform: uppercase;
  color: color(black);
  font-weight: 300;

  .cs__result & {
    color: color(white);
  }
}

.cs__situation {
  padding: base(2) 0 base(4);

  @at-root #{&}__text-wrapper {
    position: relative;
  }

  @at-root #{&}__text {
    text-align: center;
  }

  @at-root #{&}__icon {
    position: absolute;
    left: base(-2.5);
    top: base(-0.75);
    width: base(3);
    height: auto;
  }
}

.cs__header {
  padding: base(4) 0 base(2);
  text-align: center;

  @at-root #{&}__logo {
    height: 86px;
    width: auto;
  }
}

.cs__hero {
  position: relative;
  text-align: center;

  @at-root #{&}__image {
    width: 90%;
    max-width: 960px;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  
  .cs__wrapper--biologos & {
    &:before {
      bottom: base(-2);
      height: base(8);
      background: linear-gradient(to bottom, rgba(#777, 0.5), rgba(#999, 0));
    }
  }

  .cs__wrapper--charis & {
    margin-bottom: base(-6); 

    &:before {
      top: 0;
      height: 75.5%;
      background: url(../images/charis/hero-background.png) repeat-x;
      background-size: contain;
      background-position: 0 0;
    }
  }

  .cs__wrapper--harvest & {
    margin-bottom: base(-6); 

    &:before {
      bottom: 21.5%;
      height: 75.5%;
      background: url(../images/harvest/hero-background.jpg) repeat-x;
      background-size: cover;
      background-position: 0 0;
    }
  }  
}

.cs__action {
  padding: base(4) 0;
  
  @at-root #{&}__text-wrapper {
    position: relative;
  }

  @at-root #{&}__text {
    text-align: center;
  }

  @at-root #{&}__icon {
    position: absolute;
    left: base(-2.5);
    top: base(-0.75);
    width: base(3);
    height: auto;
  }
}

.cs__result {
  position: relative;

  padding: base(6) 0 base(20);

  background: url(../images/cs-texture.png) repeat, rgba(color(black), 1);
  color: color(light);

  @at-root #{&}__text-wrapper {
    position: relative;
  }

  @at-root #{&}__icon {
    position: absolute;
    left: base(-2.5);
    top: base(-0.75);
    width: base(3);
    height: auto;
  }

  @at-root #{&}__launch {
    position: absolute;
    left: 0;
    bottom: base(4);

    display: block;
    width: 75%;
    padding: base(1.5) 0 base(1.5) 8%;
    background: rgba(color(blue), 0.4);

    color: color(white);
    line-height: base(3);
    letter-spacing: base(0.2);
    text-decoration: none;
    text-transform: uppercase;
    @include font-size(20);
  }

  @at-root #{&}__launch-icon {
    float: left;
    width: base(3);
    height: auto;
    margin-top: base(0);
    margin-right: base(2);
  }

  @at-root #{&}__image {
    position: absolute;
    right: 15%;
    bottom: 0;
    width: 35%;
    max-width: 350px;
  }
  
  .cs__wrapper--biologos & {
    .cs__result__image {
      max-width: 320px;
    }
  }

  .cs__wrapper--harvest & {
    padding: base(6) 0 base(11);
  }
}

