{% extends "layouts/layout.html" %}

{% block title %}Biologos{% endblock %}
{% block content %}

<section class="cs__nav">
	
</section>

<section class="cs__header">
	<img class="cs__header__logo" src="public/images/biologos/logo2x.png" alt="Biologos">
</section>

<section class="cs__situation">
	<div class="o-container">
		<div class="grid">
			<div class="cs__situation__text-wrapper col-50 col--centered">
				<img class="cs__situation__icon" src="public/images/cs-situation.png" alt="Situation">
				<p class="cs__situation__text"><span class="u-lead">Situation</span> - Biologos is a nonprofit dedicated to helping Christians see the harmony between science and biblical faith. Biologos came to Polymath Innovations seeking help with tellings its story to church leaders and donors.</p>	
			</div>
		</div>
	</div>
</section>

<section class="cs__hero cs__hero--biologos">
	<img class="cs__hero__image" src="public/images/biologos/hero.png" alt="Biologos">
</section>

<section class="cs__action">
	<div class="o-container">
		<div class="grid">
			<div class="cs__action__text-wrapper col-66 col--centered">
				<img class="cs__action__icon" src="public/images/cs-action.png" alt="Action">
				<p class="cs__action__text"><span class="u-lead">Action</span> - Polymath spent time with Biologos, listening to its story and helping it refine its core mesage in a way that is compeling to donors and church leaders and highlights the ways that BioLogos is deepening the dialogue.</p>
			</div>
		</div>
	</div>
</section>

<section class="cs__result">
	<div class="o-container">
		<div class="grid">
			<div class="cs__result__text-wrapper col-50">
				<img class="cs__result__icon" src="public/images/cs-result.png" alt="Result">
				<p><span class="u-lead">Result</span> - Although BioLogos' new video was recently released, the response has been overwhelmingly positive. Deborah Haarsma, President of BioLogos wrote us to say, "Finally, I feel that we can explain who we are in aa beautiful and compelling way in just a few minutes. We are so grateful to our friends at Polymath who took the time to understand our story and to tell it well."</p>
			</div>
		</div>
	</div>

	<a class="cs__result__launch" href="">
		<img class="cs__result__launch-icon" src="public/images/cs-launch.png" alt="Action">
		Launch Channel
	</a>

	<img class="cs__result__image" src="public/images/biologos/phone.png" alt="Action">
</section>
  
{% endblock %}