{% extends "layouts/layout.html" %}

{% block title %}Biologos{% endblock %}
{% block content %}

<section class="o-title">
	Biologos
</section>  
<section class="o-situation">
	<p><span>Situation</span> - Biologos is a nonprofit dedicated to helping Christians see the harmony between science and biblical faith. Biologos came to Polymath Innovations seeking help with tellings its story to church leaders and donors.</p>
</section>
<section class="o-action">
	<p><span>Action</span> - Polymath spent time with Biologos, listening to its story and helping it refine its core mesage in a way that is compeling to donors and church leaders and highlights the ways that BioLogos is deepening the dialogue.</p>
</section>

<section class="o-result">
	<p><span>Result</span> - Although BioLogos' new video was recently released, the response has been overwhelmingly positive. Deborah Haarsma, President of BioLogos wrote us to say, "Finally, I feel that we can explain who we are in aa beautiful and compelling way in just a few minutes. We are so grateful to our friends at Polymath who took the time to understand our story and to tell it well."</p>
</section>
  
{% endblock %}