{% extends "layouts/layout.html" %}

{% block title %}Reimagine{% endblock %}
{% block content %}

<div class="cs__wrapper--reimagine">
	<section class="cs__nav">
		
	</section>

	<section class="cs__header">
		<img class="cs__header__logo" src="public/images/reimagine/logo.png" alt="Reimagine">
	</section>

	<section class="cs__situation">
		<div class="o-container">
			<div class="grid">
				<div class="cs__situation__text-wrapper col-66 col--centered">
					<img class="cs__situation__icon" src="public/images/cs-situation.png" alt="Situation">
					<p class="cs__situation__text"><span class="u-lead">Situation</span> - The Reimagine Group believes that best-in-class media content will powerfully influence the ways churches educate their congregations on generosity and stewardship. The Reimagine Group needed a thought partner to develop a new concept — an online course for churches to help equip believers with biblical stewardship principles.</p>	
				</div>
			</div>
		</div>
	</section>

	<section class="cs__hero">
		<img class="cs__hero__image" src="public/images/reimagine/hero.png" alt="Reimagine">
	</section>

	<section class="cs__action">
		<div class="o-container">
			<div class="grid">
				<div class="cs__action__text-wrapper col-66 col--centered">
					<img class="cs__action__icon" src="public/images/cs-action.png" alt="Action">
					<p class="cs__action__text"><span class="u-lead">Action</span> - Polymathran this innovative curriculum project from end to end: framing the theology, scoping the content, interacting with learning management systems, writing film scripts, acrafting study material, developing animation, and — ultimately — delivering high-impact videos.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="cs__result">
		<div class="o-container">
			<img class="cs__result__image" src="public/images/reimagine/ipad.png" alt="Action">
			<div class="grid">
				<div class="cs__result__text-wrapper col-50">
					<img class="cs__result__icon" src="public/images/cs-result.png" alt="Result">
					<p><span class="u-lead">Result</span> - Launched just last year, these materials have reached more than 500 churches nationwide. Jack Alexander, CEO, wrote us to say, "The team at Polymath made this come to life for us andw ec ould not be more thankful around our message finally being out there ant told effectively."</p>
				</div>
			</div>
		</div>

		<a class="cs__result__launch" href="">
			<img class="cs__result__launch-icon" src="public/images/cs-launch.png" alt="Action">
			Launch Channel
		</a>
	</section>
</div>
  
{% endblock %}